<div class="container">
  <div class="row">
    <h2><span style="background-color: #F5F5F5;">ショッピングカート</span></h2>
    <%= link_to "カートを空にする", destroy_all_user_user_cart_items_path, method: :delete, data: {confirm: "本当に空にしてもよろしいですか？"}, class: 'btn btn-danger btn-md' %>
    <!-- フラッシュメッセージ -->
    <!-- <p id="notice"><%= notice %></p> -->
    <!-- <table style="border:none;" width="600"> -->
      <!-- エラーメッセージ -->
        <%# if @cart_item.errors.any? %>
        <!-- <div id="error_explanation"> -->
         <!-- <h3><%#= pluralize(@cart_item.errors.count, "error") %> prohibited this item from being saved:</h3> -->
          <!-- <ul> -->
          <%# @cart_item.errors.full_messages.each do |message| %>
            <!-- <li><%#= message %></li> -->
          <%# end %>
          <!-- </ul> -->
        <!-- </div> -->
       <%# end %>
    <!-- </table> -->


<table class="table table-hover table-bordered">
      <thead>
        <tr class="active">
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @user.cart_items.each do |cart_item|%>
          <tr>
            <td><%= cart_item.product.name %></td>
            <td><%= (cart_item.product.price * cart_item.product.tax_rate).round %></td>
            <td>
              <%= cart_item.count %>
              <%# form forを使う %>
              <%= form_for(cart_item, url: user_user_cart_item_path(id: cart_item.id), method: :patch) do |f| %>
                <%= f.select :count, [*1..10] %>
                <%= f.submit "変更" %>
              <% end %>
            </td>
            <td>
              <%= (cart_item.product.price * cart_item.product.tax_rate).round * cart_item.count %></td>
            <td><%= link_to "削除する", user_user_cart_item_path(id: cart_item.id), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: 'btn btn-danger btn-md' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to "買い物を続ける", user_root_path, method: :get, class: 'btn btn-danger btn-md' %>

    <table class="table table-hover table-bordered">
      <thead>
        <tr class="active">
          <th>合計金額</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @total %></td>
        </tr>
      </tbody>
    </table>

    <%= link_to "情報入力に進む", new_user_user_order_path(@user), method: :get, class: 'btn btn-danger btn-md' %>

  </div>
</div>

