<ul class= "genre-side-bar">
  <li class= "genre-head">ジャンル検索</li>
    <% genres.each do |genre| %>
      <li>
        <%= link_to user_genre_path(genre.id) do %>
          <p class="genre-name"><%= genre.name %></p>
        <% end %>
      </li>
    <% end %>
</ul>

<ul class= "genre-side-bar">
  <li class= "genre-head">商品名検索</li>
    <%= search_form_for q, url: user_products_path do |f| %>
      <%= f.label :name_cont, "商品名" %>
      <%= f.search_field :name_cont %>
      <div class="actions"><%= f.submit "検索" %></div>
    <% end %>
</ul>



