<div class="row">
  <div class = "col-xs-3">
    <!-- サイドバーの部分テンプレート -->
    <%= render "sidebar", genres: @genres, q: @q %>
  </div>
  <div class="col-xs-9">
    <h2 class="head">商品一覧(全<%= @products_all.count %>件)</h2>
    <ul class="product-group clearfix">
        <% @products.each do |product| %>
          <li>
            <%= link_to user_product_path(product) do %>
              <%= attachment_image_tag(product, :image, :fill, 120, 120, fallback: "no_image.jpg", size:'120x120') %>
              <p><%= product.name %></p>
            <% end %>
              <p>¥<%= (product.price * product.tax_rate).round %>(税込)</p>
              <!-- 売切れ商品のみ売切れ表示 -->
              <% if product.sales_status == "売切れ" %>
                <p class="sold-out">売切れ</p>
              <% end %>
          </li>
        <% end %>
    </ul>
    <%= paginate @products, class: "paginate" %>
  </div>
</div>