<div class="row">
  <div class = "col-xs-3">
    <!-- サイドバーの部分テンプレート -->
    <%= render "sidebar", genres: @genresq, q: @q %>
  </div>
  <div class="col-xs-4">
    <%= attachment_image_tag(@product, :image, :fill, 300, 300, fallback: "no_image.jpg") %>
  </div>
  <div class="col-xs-5">
    <h3><%= @product.name %></h3>
    <p><%= @product.explanation %></p>
    <h4>¥<%= (@product.price * @product.tax_rate).round %>(税込)</h4>
    <% if @product.sales_status == "売切れ" %>
      <p class="sold-out">売切れ</p>
    <% end %>
  </div>
</div>
<div class="row">
  <% if @product.sales_status == "売切れ" %>
    <p class="sold-out"></p>
  <% else %>
   <% if user_signed_in? %>
    <%= form_for(@cart_item, url: user_user_cart_items_path(current_user), method: :post) do |f| %>
      <div class="field row">
        <%= f.select :count, [*1..10], include_blank: "個数選択" %>
      </div>
      <%= f.hidden_field :product_id, value: @product.id %>
      <div class="actions row">
        <%= f.submit "カートに入れる" %>
      </div>
    <% end %>
   <% else %>
      <div class="field row">
        <%= select_tag 'name', options_for_select([*1..10]), include_blank: "個数選択" %>
      </div>
      <div class="actions row">
        <%= link_to "カートに入れる", new_user_session_path %>
      </div>
   <% end %>
  <% end %>
</div>
