<div class="container">
  <div class="row">
    <h2><span style="background-color: #F5F5F5;">注文履歴一覧</span></h2>
    <!-- フラッシュメッセージ -->
    <!-- <p id="notice"><%= notice %></p> -->
    <!-- <table style="border:none;" width="600"> -->
      <!-- エラーメッセージ -->
        <%# if @cart_item.errors.any? %>
        <!-- <div id="error_explanation"> -->
         <!-- <h3><%#= pluralize(@cart_item.errors.count, "error") %> prohibited this item from being saved:</h3> -->
          <!-- <ul> -->
          <%# @cart_item.errors.full_messages.each do |message| %>
            <!-- <li><%#= message %></li> -->
          <%# end %>
          <!-- </ul> -->
        <!-- </div> -->
       <%# end %>
    <!-- </table> -->


<table class="table table-hover table-bordered">
      <thead>
        <tr class="active">
          <th>注文日</th>
          <th>配送先</th>
          <th>注文商品</th>
          <th>支払金額</th>
          <th>ステータス</th>
          <th>注文詳細</th>
        </tr>
      </thead>
      <tbody>
        <% @user.orders.each do |order|%>
          <tr>
            <td><%= order.created_at %></td>
            <td>
              <%= order.post_number %>
              <%= order.post_address %>
              <%= order.post_name %>
            </td>
            <td>
              <% order.order_items.each do |order_item|%>
                <%= order_item.product.name %>
              <% end %>
            </td>
            <td>
              <% order.order_items.each do |order_item|%>
                <%= @total += (order_item.tax_included_price * order_item.product.tax_rate).round * order_item.count %>
              <% end %>
            </td>
            <td><%= order.request_status %></td>
            <td><%= link_to "表示する", user_user_order_path(id: order.id), method: :get, class: 'btn btn-danger btn-md' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>