<div class="container">
  <div class="row">
    <h2><span style="background-color: #F5F5F5;">注文履歴詳細</span></h2>
    <!-- フラッシュメッセージ -->
    <!-- <p id="notice"><%= notice %></p> -->
    <!-- <table style="border:none;" width="600"> -->
      <!-- エラーメッセージ -->
        <%# if @cart_item.errors.any? %>
        <!-- <div id="error_explanation"> -->
         <!-- <h3><%#= pluralize(@cart_item.errors.count, "error") %> prohibited this item from being saved:</h3> -->
          <!-- <ul> -->
          <%# @cart_item.errors.full_messages.each do |message| %>
            <!-- <li><%#= message %></li> -->
          <%# end %>
          <!-- </ul> -->
        <!-- </div> -->
       <%# end %>
    <!-- </table> -->

<h3>注文情報</h3>
    <table class="table table-hover table-bordered">
      <thead>
        <tr class="active">
          <th>注文日</th>
          <th>配送先</th>
          <th>支払方法</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td><%= @user.order.created_at %></td>
            <td>
              <%= @user.order.post_number %>
              <%= @user.order.post_address %>
              <%= @user.order.post_name %>
            </td>
            <td><%= @user.order.payment_method %></td>
            <td><%= @user.order.request_status %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

<h3>請求情報</h3>
    <table class="table table-hover table-bordered">
      <thead>
        <tr class="active">
          <th>商品合計</th>
          <th>配送料</th>
          <th>ご請求額</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= (@user.order.total_price - @user.order.postage) %></td>
          <td><%= @user.order.postage %></td>
          <td><%= @user.order.total_price %></td>
        </tr>
      </tbody>
    </table>

<h3>注文内容</h3>    
    <table class="table table-hover table-bordered">
      <thead>
        <tr class="active">
          <th>商品</th>
          <th>単価(税込)</th>
          <th>個数</th>
          <th>小計</th>
        </tr>
      </thead>
      <tbody>
        <% @order.order_items.each do |order_item|%>
          <tr>
            <td><%= order_item.product.name %></td>
            <td><%= (order_item.product.price * order_item.product.tax_rate).round %></td>
            <td>
              <%= order_item.count %>
            </td>
            <td><%= (order_item.product.price * order_item.product.tax_rate).round * order_item.count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>


  </div>
</div>