<div class="container">
  <div class="row">
      <%= form_for @user, url: user_user_path, method: :patch do |f| %>

      <% if @user.errors.any? %>
        <div id="error_explanation" class="alert alert-danger">
    <ul>
      <p><%= @user.errors.count %>errors prohibited this obj from being saved:</p>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
      </div>
      <% end %>
  </div>
        <h2>登録情報編集</h2>
<br>
<form class="form-horizontal">
  <div class="row">
    <div class="col-sm-3" >名前</div>
    <div class="col-sm-1" ><%= f.label :'（姓）' %></div>
    <div class="col-sm-3" ><%= f.text_field :first_name_kanji, class: "first_name_kanji" %></div>
    <div class="col-sm-1" ><%= f.label :'（名）　' %></div>
    <div class="col-sm-3" ><%= f.text_field :last_name_kanji, class: "last_name_kanji" %></div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-3" >フリガナ</div>
    <div class="col-sm-1" ><%= f.label :'（セイ）' %></div>
    <div class="col-sm-3" ><%= f.text_field :first_name_kana, class: "first_name_kana" %></div>
    <div class="col-sm-1" ><%= f.label :'（メイ）' %></div>
    <div class="col-sm-3" ><%= f.text_field :last_name_kana, class: "last_name_kana" %></div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-3" >メールアドレス</div>
    <div><%= f.text_field :email, class: "col-sm-3" %></div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-3" >郵便番号（ハイフンなし）</div>
    <div><%= f.text_field :post_number, class: "col-sm-3" %></div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-3" >住所</div>
    <div><%= f.text_field :address, class: "col-sm-7" %></div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-3" >電話番号（ハイフンなし）</div>
    <div><%= f.text_field :phone_number, class: "col-sm-3" %></div>
  </div>
  <br>
  <div class="row">
    <td><%= f.submit "編集内容を保存する", class: "btn btn-md btn-primary" %></td>
    <td><%= link_to "退会する",user_confirm_path, class: 'btn btn-danger btn-md' %></td>
  </div>
  <% end %>
  </form>
</div>
