<div class="container-fluid">
  <div class="row">
    <div class="main col-md-offset-1 col-md-6">
    <p id="notice"><%= notice %></p>
        <h2>マイページ</h2>
        <div class="row">
          <h2>登録情報</h2>
          <%= link_to "編集する",edit_user_user_path(@user), class: "btn btn-md btn-primary" %>
          <%= link_to "パスワード変更する",new_user_password_path(@user), class: "btn btn-md btn-primary" %>
          </div>
<br>
    <div class="table-responsive">
      <table class="table table-bordered">
        <tr>
          <th width="100">氏名</th>
          <td><%= @user.first_name_kanji %><%= @user.last_name_kanji %></td>
        </tr>
        <tr>
          <th width="100">フリガナ</th>
          <td><%= @user.first_name_kana %><%= @user.last_name_kana %></td>
        </tr>
        <tr>
          <th width="100">郵便番号</th>
          <td><%= @user.post_number %></td>
        </tr>
        <tr>
          <th width="100">住所</th>
          <td><%= @user.address %></td>
        </tr>
        <tr>
          <th width="100">電話番号</th>
          <td><%= @user.phone_number %></td>
        </tr>
        <tr>
          <th width="100">メールアドレス</th>
          <td><%= @user.email %></td>
        </tr>
      </table>
    </div>
  </div>
  </div>
  <div class="row">
   <div class="main col-md-offset-1 col-md-7">

          <h3>配達先　　<%= link_to "一覧を見る",user_user_deliveries_path(@user), class: "btn btn-md btn-primary" %></h3>

        <br>

          <h3>注文履歴　<%= link_to "一覧を見る",user_user_orders_path(@user), class: "btn btn-md btn-primary" %></h3>

      </div>
  </div>
</div>
