<div class="row">
  <h2 class="heading">商品 詳細画面</h2>

  <!-- フラッシュメッセージ -->
  <p id="notice"><%= notice %></p>

</div>
<div class="row">
  <div class="col-xs-4">
    <div class="frame">
      <%= attachment_image_tag(@product, :image, :fill, 300, 300, fallback: "no_image.jpg") %>
    </div>
  </div>
  <div class="col-xs-5">
    <table style="border:none; line-height: 300%; font-size: 16px" width="400">
      <tr>
        <td>商品名</td>
        <td><%= @product.name %></td>
      </tr>
      <tr>
        <td>商品説明</td>
        <td><%= @product.explanation %></td>
      </tr>
      <tr>
        <td>ジャンル</td>
        <td><%= @genre.name %></td>
      </tr>
      <tr>
        <td>税込価格 (税抜価格)</td>
        <td><%= (@product.price * @product.tax_rate).round %> (<%= (@product.price) %>)円</td>
      </tr>
      <tr>
        <td>販売ステータス</td>
        <td><%= @product.sales_status %></td>
      </tr>
    </table>
  </div>
  <div class="col-xs-3">
    <div class="product-button">
      <%= link_to "編集する",edit_admin_product_path(@product), class: "btn btn-lg btn-primary" %>
    </div>
  </div>
</div>