<div class="row">
  <h2 class="heading">商品 詳細画面</h2>

  <!-- フラッシュメッセージ -->
  <p id="notice"><%= notice %></p>

</div>
<div class="row">
  <div class="col-xs-4">
    <div class="frame">
      <%= attachment_image_tag(product, :image, :fill, 300, 300, fallback: "no_image.jpg", size:'300x300') %>
    </div>
  </div>
  <div class="col-xs-5">
    <div class="product-detail">
      <p>商品名　　</p>
      <p><font size = '3'><%= @product.name %></font></p>
      <p style="clear:both;">商品説明　</p>
      <p><font size = '3'><%= @product.explanation %></font></p>
      <p style="clear:both;">ジャンル　</p>
      <p><font size = '3'><%= @genre.name %></font></p>
      <p style="clear:both;">税込価格 (税抜価格)　</p>
      <p><font size = '3'><%= (@product.price * @product.tax_rate).round %> (<%= (@product.price) %>)円</font></p>
      <p style="clear:both;">販売ステータス　</p>
      <p><font size = '3'><%= @product.sales_status %></font></p>
    </div>
  </div>
  <div class="col-xs-3">
    <div class="product-button">
      <%= link_to "編集する",edit_admin_product_path(@product), class: "btn btn-lg btn-primary" %>
    </div>
  </div>
</div>