<div class="contaier">
  <div class="row">
    <h2><span style="background-color: #F5F5F5;">配送先登録/一覧</span></h2>
    <!-- フラッシュメッセージ -->
    <p id="notice"><%= notice %></p>
    <%= form_for @delivery, url: user_user_deliveries_path do |f| %>
      <table style="border:none; border-collapse: separate;
border-spacing: 20px 10px;" width="700">
        <!-- エラーメッセージ -->
        <% if @delivery.errors.any? %>
        <div id="error_explanation">
          <h3><%= pluralize(@delivery.errors.count, "error") %> prohibited this product from being saved:</h3>

          <ul>
          <% @delivery.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
        <tr>
          <th><%= f.label :'郵便番号(ハイフンなし)' %></th>
          <td><%= f.text_field :post_number %></td>
        </tr>
        <tr>
          <th><%= f.label :'住所' %></th>
          <td><%= f.text_field :post_address, size: "50x10" %></td>
        </tr>
        <tr>
          <th><%= f.label :'宛名' %></th>
          <td><%= f.text_field :post_name %></td>
          <td><%= f.submit "登録する", class: 'btn btn-success btn-block' %></td>
        </tr>
      </table>
    <% end %>
​
    <table class="table table-hover table-bordered">
      <thead>
        <tr class="active">
          <th>郵便番号</th>
          <th>住所</th>
          <th>宛名</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @user.deliveries.each do |delivery|%>
          <tr>
            <td><%= delivery.post_number %></td>
            <td><%= delivery.post_address %></td>
            <td><%= delivery.post_name %></td>
            <td><%= link_to "編集する", edit_user_user_delivery_path(user_id: current_user.id, id: delivery.id) , class: 'btn btn-primary btn-md' %>
            <%= link_to "削除する", user_user_delivery_path(user_id: current_user.id, id: delivery.id), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: 'btn btn-danger btn-md' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>