<div class="container">
  <div class="row">
    <div class="col-xs-9">
      <%= form_for @user, url: admin_user_path, method: :patch do |f| %>

      <% if @user.errors.any? %>
      <div id="error_explanation">
        <h3><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h3>

        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
      <h2>会員編集画面</h2>
        <table class="table">
          <tr>
            <th><%= f.label :顧客ID %></th>
            <td><%= @user.id %></td>
          </tr>
          <tr>
            <th><%= f.label :氏名 %></th>
            <td><%= f.text_field :first_name_kanji %><%= f.text_field :last_name_kanji %></td>
          </tr>
          <tr>
            <th><%= f.label :フリガナ %></th>
            <td><%= f.text_field :first_name_kana %><%= f.text_field :last_name_kana %></td>
          </tr>
          <tr>
            <th><%= f.label :郵便番号 %></th>
            <td><%= f.text_field :post_number %></td>
          </tr>
          <tr>
            <th><%= f.label :住所 %></th>
            <td><%= f.text_field :address %></td>
          </tr>
          <tr>
            <th><%= f.label :電話番号 %></th>
            <td><%= f.text_field :phone_number %></td>
          </tr>
          <tr>
            <th><%= f.label :メールアドレス %></th>
            <td><%= f.text_field :email %></td>
          </tr>
          <tr>
            <th><%= f.label :会員ステータス %></th>
            <th><%= f.radio_button :profile_status , :有効 %>
            <%= f.label :有効　%></th>
            <th><%= f.radio_button :profile_status , :退会済み %>
            <%= f.label :退会済み　%></th>
          </tr>
          <tr>
            <div class="col-xs-3">
              <th><%= f.submit "変更点を保存する", class: "btn btn-md btn-primary" %></th>
            </div>
          </tr>
        </table>
        <% end %>
    </div>
  </div>
</div>