<div class="row">
    <div class="col-xs-9">
      <%= form_for @user, url: admin_user_path, method: :patch do |f| %>

      <% if @user.errors.any? %>
        <div id="error_explanation" class="alert alert-danger">
    <ul>
      <p><%= @user.errors.count %>errors prohibited this obj from being saved:</p>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
      </div>
      <% end %>

      <h2>会員編集画面</h2>
<br>
  <form class="form-horizontal">
    <div class="row">
      <div class="col-sm-3"><%= f.label :顧客ID %></div>
      <div class="col-sm-1" ><%= @user.id %></div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-3" ><%= f.label :氏名 %></div>
      <div class="col-sm-3" ><%= f.text_field :first_name_kanji, class: "first_name_kanji" %></div>
      <div class="col-sm-3" ><%= f.text_field :last_name_kanji, class: "last_name_kanji" %></div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-3" ><%= f.label :フリガナ %></div>
      <div class="col-sm-3" ><%= f.text_field :first_name_kana, class: "first_name_kana" %></div>
      <div class="col-sm-3" ><%= f.text_field :last_name_kana, class: "last_name_kana" %></div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-3" ><%= f.label :郵便番号 %></div>
      <div><%= f.text_field :post_number, class: "col-sm-3" %></div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-3" ><%= f.label :住所 %></div>
      <div><%= f.text_field :address, class: "col-sm-7" %></div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-3" ><%= f.label :電話番号 %></div>
      <div><%= f.text_field :phone_number, class: "col-sm-3" %></div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-3" ><%= f.label :メールアドレス %></div>
      <div><%= f.text_field :email, class: "col-sm-3" %></div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-3" ><%= f.label :会員ステータス %></div>
      <div class="col-sm-2" ><%= f.radio_button :profile_status , :有効 %>
              <%= f.label :有効　 %></div>
      <div class="col-sm-2" ><%= f.radio_button :profile_status , :退会済 %>
              <%= f.label :退会済み %></div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-3" ><%= f.submit "変更点を保存する", class: "btn btn-md btn-primary" %></div>
    </div>
  </form>
        <% end %>
    </div>
  </div>
