<!DOCTYPE html>
<html>
  <head>
    <title>Nagano Cake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
        <nav class="nav navbar-nav navbar-left">
          <h1>NAGANO CAKE</h1>
        </nav>
    </header>
    <!--ヘッダーの記述-->
    <div class="container">
    <%= yield %>
    </div>
  </body>
</html>