<!DOCTYPE html>
<html>
  <head>
    <title>Nagano Cake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
        <nav class="nav navbar-nav navbar-left">
            <% if admin_signed_in? %>
                <%= link_to admin_admins_top_path do %><h1 class = "store-name">NAGANO CAKE</h1><% end %>
            <% else %>
                <%= link_to user_root_path do %><h1 class = "store-name">NAGANO CAKE</h1><% end %>
            <% end %>
        </nav>
        <nav class="nav navbar-nav">
            <% if user_signed_in? %>
                <h4 class="welcome"><%= current_user.first_name_kanji %><%= current_user.last_name_kanji %>さん、ようこそ！！！！</h4>
            <% end %>
        </nav>
        <nav>
            <div class="nav navbar-nav navbar-right">
            <!--if文でサインインとアウト時の表示を変更-->
                <% if user_signed_in? %>
                    <li><%= link_to ' Nagano Cakeについて', user_about_path %></li>
                    <li><%= link_to ' マイページ', user_user_path(current_user) %></li>
                    <li><%= link_to ' 商品一覧', user_products_path %></li>
                    <li><%= link_to ' カート', user_user_cart_items_path(current_user) %></li>
                    <li><%= link_to ' ログアウト', destroy_user_session_path, method: :delete %></li>
                <% elsif admin_signed_in? %>
                    <li><%= link_to ' 商品一覧', admin_products_path %></li>
                    <li><%= link_to ' 会員一覧', admin_users_path %></li>
                    <li><%= link_to ' 注文一覧', admin_orders_path %></li>
                    <li><%= link_to ' ジャンル管理', admin_genres_path %></li>
                    <li><%= link_to ' ログアウト', destroy_admin_session_path, method: :delete %></li>
                <% else %>
                    <li><%= link_to ' Nagano Cakeについて', user_about_path %></li>
                    <li><%= link_to ' 商品一覧', user_products_path %></li>
                    <li><%= link_to ' 新規登録', new_user_registration_path %></li>
                    <li><%= link_to ' ログイン', user_session_path %></li>
                <% end %>
            <% if admin_signed_in? %>
                    <%= search_form_for @q, url: user_products_path do |f| %>
                      <%= f.label :name_cont, "商品名検索"  %>
                      <%= f.search_field :name_cont %>
                      <%= f.submit "検索" %>
                    <% end %>
                </div>
            <% end %>
        </nav>
    </header>
    <!--ヘッダーの記述-->
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
